$black: #000000;
$dark-grey: #3F3F3F;
$light-grey: #7C7672;
$green: #218242;
$yellow: #FAE465;
$dirty-white: #EEECE8;
.sponsors{
    width: 100%;
    display: flex;
    max-width: 876px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

    @media (max-width: 1070px){
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
        row-gap: 50px;
        justify-content: center;
        justify-items: center;
        img:last-of-type{
            display: none;
        }
        margin-bottom: 100px;
        @media (max-width: 375px){
            column-gap: 40px;
            @media (max-width: 319px){
                column-gap: 20px;
            }
        }
    }
}

.build-with-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 220px;
    h2{
        position: relative;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        text-align: center;
        .text-highlight{
            top: 100%;
            left: -10px;
            width: 108%;
            position: absolute;
            @media (max-width: 600px){

            }
            
        }
        @media (max-width: 600px){
            font-size: 32px;
        }
    }
    .cards{
        margin-top: 95px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .card{
            position: relative;
            text-align: center;
            padding: 30px 40px 35px 40px;
            border: 1px solid #7C7672;
            min-width: 320px;

            img{
                margin-bottom: 30px;
            }
            &:nth-of-type(1)::after{
                content: url('../images/build-with-us-arrow1.svg');
                top: calc(100% + 22px);
                left: calc(100% - 40px);
            }
            &:nth-of-type(1)::after, &:nth-of-type(3)::after{
                position: absolute;
                @media (max-width: 1200px){
                    display: none;
                }
            }
            &:nth-of-type(3)::after{
                right: calc(100% - 5px);
                content: url('../images/build-with-us-arrow2.svg');
                bottom: calc(100% + 22px);

                @media (max-width: 1370px){
                    right: calc(100% - 60px);
                }
            }
            @media (max-width: 375px){
                width: 100%;
                min-width: unset;
            }
        }
        @media (max-width: 1200px){
            margin-top: 70px;
            display: grid;
            grid-template-rows: auto auto auto;
            justify-content: center;
            row-gap: 30px;
            .card{
                width: 100%;
            }
        }
    }
    @media (max-width: 1200px){
        margin-bottom: 110px;
    }
}

.specialization{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 185px;

    h2{
        text-align: center;
        margin: 0 auto;
        position: relative;
        margin-bottom: 105px;

        .text-highlight{
            z-index: -1;
            position: absolute;
            top: -35px;
            left: -50px;
        }
        @media (max-width: 600px){
            font-size: 32px;
            margin-bottom: 60px;
            max-width: 150px;
            .text-highlight{
                height: 68px;
                top: -9px;
                left: -40px;
            }

        }
    }

    .section-content{
        background-position: 95% bottom;
        background-repeat: no-repeat;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 55px;
        justify-content: flex-start;

        .specialization-section-image-slider{
            position: relative;
            grid-row: 1 / 3;
            grid-column: 1;
            min-height: 365px;
            max-width: 478px;
            width: 478px;
            @media (max-width: 1200px){
                display: block;
                width: 100%;
                grid-row: 2;
                grid-column: 1;
                margin-bottom: 50px;
                height: 300px;
                min-height: unset;
            }
            .image{
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: opacity .5s ease-in;
                & + .image{
                    opacity: 0;
                }
            }
        }

        p{
            font-weight: 600;
            grid-row: 1;
            grid-column: 2;
            max-width: 530px;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 48px;
            width: 100%;
            @media (max-width: 1200px){
                grid-row: 1;
                grid-column: 1;
            }
        }

        .button-border{
            position: relative;
            width: 140px;
            height: 50px;
            justify-self: flex-start;
            align-self: flex-end;
            font-weight: 600;
            @media (max-width: 1200px){
                grid-row: 3;
                grid-column: 1;
                @media (max-width: 600px){
                    width: 100%;
                }
            }

            .button-illustration{
                position: absolute;
                top: 5px;
                right: 5px;
                @media (max-width: 600px){
                    display: none;
                }

            }
            .button-mobile-illustration{
                position: absolute;
                top: 9px;
                right: 5px;
                display: none;
                @media (max-width: 600px){
                    display: block;
                }
            }
        }  
        @media (max-width: 1200px){
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            justify-content: center;
            background-image: none !important;
        }
    }
    @media (max-width: 600px){
        padding-bottom: 100px;
    }
}