.website-path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 96px;
  margin-top: 20px;
}

.website-path .house-icon {
  margin-right: 8px;
}

.website-path .current-page {
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .website-path {
    margin-bottom: 48px;
  }
}

@media (max-width: 1000px) and (max-width: 870px) {
  .website-path {
    margin-top: 60px;
  }
}

.faq {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
  width: 100%;
}

@media (max-width: 600px) {
  .faq {
    padding-bottom: 100px;
  }
}

.faq .company-stamp {
  position: absolute;
  right: 5%;
  top: -50px;
}

@media (max-width: 900px) {
  .faq .company-stamp {
    display: none;
  }
}

.faq h1 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 170px;
}

.faq h1 .text-highlight, .faq h1 .text-highlight-mobile {
  position: absolute;
  z-index: -1;
}

.faq h1 .text-highlight {
  left: -72px;
  top: -22px;
  height: 114px;
  width: auto;
}

@media (max-width: 600px) {
  .faq h1 .text-highlight {
    display: none;
  }
}

.faq h1 .text-highlight-mobile {
  display: none;
}

@media (max-width: 600px) {
  .faq h1 .text-highlight-mobile {
    display: block;
    top: -15px;
    left: -40px;
    height: 66px;
    width: auto;
  }
}

@media (max-width: 600px) {
  .faq h1 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.faq .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 790px;
}

.faq .section-content ul {
  list-style: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .section-content ul li {
  width: 100%;
  border: 1px solid #7C7672;
  width: 100%;
  margin-bottom: 20px;
}

.faq .section-content ul li .visible-part {
  padding: 20px 35px 20px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq .section-content ul li .visible-part:hover {
  cursor: url("../../home-page/images/cursor.png"), auto;
}

.faq .section-content ul li .visible-part img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.faq .section-content ul li .visible-part img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 600px) {
  .faq .section-content ul li .visible-part {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.faq .section-content ul li .hidden-part {
  width: 100%;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  font-size: 14px;
  padding: 0;
  height: 0;
  overflow: hidden;
  max-width: 570px;
}

.faq .section-content ul li .hidden-part.active {
  height: auto;
  padding: 0 35px 40px 70px;
}

@media (max-width: 600px) {
  .faq .section-content ul li .hidden-part.active {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
}

.faq .section-content ul li:last-child {
  margin-bottom: 30px;
}

.faq .more-questions-button:hover {
  cursor: url("../../home-page/images/cursor.png"), pointer;
}

.faq .faq-more-questions-form {
  padding: 0 20px;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0000001A;
}

.faq .faq-more-questions-form form {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: -ms-grid;
  display: grid;
  padding: 40px 35px 50px 35px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 1px 54px rgba(0, 0, 0, 0.07);
}

.faq .faq-more-questions-form form h3 {
  text-align: center;
  margin-bottom: 14px;
}

.faq .faq-more-questions-form form p {
  text-align: center;
  margin-bottom: 28px;
}

.faq .faq-more-questions-form form input[type="text"] {
  height: 40px;
  margin-bottom: 15px;
}

.faq .faq-more-questions-form form input[type='text'], .faq .faq-more-questions-form form textarea {
  border: 1px solid #7C7672;
  padding-left: 20px;
}

.faq .faq-more-questions-form form input[type='text']::-webkit-input-placeholder, .faq .faq-more-questions-form form textarea::-webkit-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form input[type='text']:-ms-input-placeholder, .faq .faq-more-questions-form form textarea:-ms-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form input[type='text']::-ms-input-placeholder, .faq .faq-more-questions-form form textarea::-ms-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form input[type='text']::placeholder, .faq .faq-more-questions-form form textarea::placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form input[type='text']:focus, .faq .faq-more-questions-form form textarea:focus {
  border-color: #000000;
}

.faq .faq-more-questions-form form input[type="text"], .faq .faq-more-questions-form form textarea, .faq .faq-more-questions-form form button {
  width: 100%;
}

.faq .faq-more-questions-form form textarea {
  padding-top: 10px;
  height: 96px;
  margin-bottom: 25px;
}

.faq .faq-more-questions-form form textarea::-webkit-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form textarea:-ms-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form textarea::-ms-input-placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form textarea::placeholder {
  color: #3F3F3F;
  font-family: Mulish;
}

.faq .faq-more-questions-form form button {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Mulish;
  padding: 16px 0;
  color: white;
  font-size: 18px;
  border: none;
}

.faq .faq-more-questions-form form .privacy-policy {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.faq .faq-more-questions-form form .privacy-policy input[type='checkbox'] {
  border: 1px solid #3F3F3F;
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 3px;
}

.faq .faq-more-questions-form form .privacy-policy input[type='checkbox']:hover {
  cursor: url("../../home-page/images/cursor.png"), pointer;
}

.faq .faq-more-questions-form form .privacy-policy input[type='checkbox']:checked {
  background: #3F3F3F;
}

.faq .faq-more-questions-form form .privacy-policy input[type='checkbox']:checked::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: url("../../home-page/images/check-icon.svg");
}

.faq .faq-more-questions-form form .privacy-policy .agreement a {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .faq .faq-more-questions-form form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.faq .faq-more-questions-form form .close-form {
  z-index: 10;
  position: absolute;
  right: 18px;
  top: 18px;
  width: 13px;
  height: 13px;
}

.faq .faq-more-questions-form form .close-form img {
  width: 100%;
  height: 100%;
}

.faq .faq-more-questions-form form .close-form:hover {
  cursor: url("../../home-page/images/cursor.png"), auto;
}

.faq .faq-more-questions-form form .formSubmittedMessage {
  padding: 0 50px;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .faq-more-questions-form form .formSubmittedMessage h3 {
  margin-bottom: 14px;
}

.faq .faq-more-questions-form form .formSubmittedMessage p {
  margin-bottom: 50px;
}

.faq .faq-more-questions-form form .formSubmittedMessage h3, .faq .faq-more-questions-form form .formSubmittedMessage p, .faq .faq-more-questions-form form .formSubmittedMessage img {
  width: 100%;
}

.faq .faq-more-questions-form::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
/*# sourceMappingURL=faqs.css.map */